body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
}
.container-fluid {
  max-width: 100%; 
  overflow-x: hidden; 
}


main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar {
  background-color: rgb(34, 31, 31);
}

#navbar .navbar-nav {
  display: flex;
  justify-content: center; 
  align-items: center;
  list-style: none; 
  padding: 0;
  margin: 0;
}
#item {
  color: aliceblue;
  margin-left: 15px;
  text-decoration: none; 
}

#item:hover {
  color: rgb(230, 92, 92);
}

#navBrand {
  color: aliceblue;
  text-shadow: 5px 5px 3px crimson;
}

#navBrand:hover {
  color: rgb(230, 92, 92);
 
}
.instagram {
  color: rgb(227, 15, 128);

}
.facebook {
 color: rgb(20, 20, 249);
}
.twitter {
 color: rgb(46, 188, 235);
}
.foot{
  color: aliceblue;
}
.foot:hover {
  color: rgb(230, 92, 92);
  text-shadow: 10px 10px 7px crimson;
}
@keyframes daireselHareket {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(3px, -3px);
  }
  50% {
    transform: translate(6px, 0);
  }
  75% {
    transform: translate(3px, 3px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.card {
  animation: daireselHareket 2s  ease-in-out infinite;
}
.hour {
  padding: 3px;
  text-transform: uppercase;
  color: aliceblue;
  font-size: 40px;
  letter-spacing: 5px;
  text-shadow: 0 0 10px orangered,
               0 0 20px orangered,
               0 0 40px orangered,
               0 0 80px orangered;
  border: solid 2px  cyan;   
  border-radius: 5px; 
      
}
.close {
  text-shadow: 0 0 10px orangered,
  0 0 20px orangered,
  0 0 40px orangered,
  0 0 80px orangered;
}
@media (max-width: 576px) {
 .message{
   font-size: medium;
 }
 .bizkimiz {
  background-image: url('../public/img/about.webp');
  border-radius: 20px;
  color: white;
  transition: all 0.5s ease; /* Tüm değişikliklere yumuşak geçiş ekler */
}
.bizkimiz:hover{
  font-size: small;
  font-weight: normal;
  font-style: italic;
  color: orangered; 
  text-shadow: 
      -1px -1px 0 white, /* Sol üst */
       1px -1px 0 white, /* Sağ üst */
      -1px  1px 0 white, /* Sol alt */
       1px  1px 0 white; /* Sağ alt */
  background-image: url('../public/img/transfer.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.col-6.soft{
  width:100%;
  opacity: 1;
}
.combination {
  display: none;
}
.vertical-line {
  display: none;
}
      
 }
 @media (min-width:577px){
   .bizkimiz {
  background-image: url('../public/img/about.webp');
  border-radius: 20px;
  color: white;
  transition: all 0.5s ease; /* Tüm değişikliklere yumuşak geçiş ekler */
}

.bizkimiz:active {
  font-size: x-large;
  font-weight: bold;
  color: orangered; 
  text-shadow: 
      -1px -1px 0 white, /* Sol üst */
       1px -1px 0 white, /* Sağ üst */
      -1px  1px 0 white, /* Sol alt */
       1px  1px 0 white; /* Sağ alt */
  background-image: url('../public/img/transfer.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.vertical-line {
  width: 10px; 
  height: 715px; 
  background: white; 
  position: relative; 
  overflow: hidden; 
  transition: background-color 0.5s ease; 
}

.vertical-line::before {
  content: ''; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0; 
  background: orangered; 
  transition: height 0.5s ease;
}

.vertical-line:hover::before {
  height: 100%; 
}

/* Açıkken */
.col-6.soft {
  transition: width 1.5s ease, opacity 0.5s ease; /* 2 saniyede genişleyecek */
  width: 50%;
  opacity: 1;
}

/* Kapalıyken */
.col-6.soft.collapsed {
  transition: width 0.5s ease, opacity 0.5s ease; /* Kapanma sırasında da geçerli */
  width: 100%;
  opacity: 1; /* Opsiyonel */
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes grow {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.combination {
  position: fixed;
  color: orangered;
  width: 500px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.combination.animate {
  animation: slideIn 2s ease forwards, grow 0.5s ease forwards;
}

 }

.kurucu{
  background-color: darkgrey;
  border-radius: 20px;
  color: white;
  transition: all 0.5s ease;
}
.kurucu:hover{
  background-color: darkslategray;
  font-weight: bold;
  color: orangered; 
  text-shadow: 
      -1px -1px 0 white, /* Sol üst */
       1px -1px 0 white, /* Sağ üst */
      -1px  1px 0 white, /* Sol alt */
       1px  1px 0 white; /* Sağ alt */
}

.modal-content{
  color:white;
  text-shadow: 
      -2px -2px 0 black,
      2px  -2px 0 black,
      -1px 1px  0 black,
      1px  1px 0 black
  ;
  background-image: url(../public/img/biftek.webp);
  background-repeat: no-repeat;
  background-position: center;
  animation: slideUp 1.5s ease-out;
}
.branch{
  background-color: darkgray;
  
}